#todo-form{
  position: absolute;
  left: 85%;
  top: 5%;
}

#todo-list {
  margin-top: 30px;
}

@keyframes sideopen{
  to{
    opacity: 0;
  }
  from{
    transform: translateY(120px);
    opacity: 1;
  }
}

#todo-list li{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 10px;
  animation: sideopen 0.6s ease-out;
}

#todo-list span{
  font-size: 18px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 600;
  color: rgb(0,0,0, 0.9)
}

#todo-list button{
  border: none;
  background: none;
  font-size: 20px;
  color: tomato;
  font-weight: 600;
}

.todo-form__padding{
  padding: 10px 55px;
  padding-right: 50px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 10px;
  border:none;
  opacity: 0.9;
}

.todo-box{
  position: absolute;
  left: 85%;
  top: 10%;
  width: 250px;
  height: 700px;
  border-radius: 8px;
  background-color: white;
  opacity: 0.6;
  border: 2px solid black;
}

.todo-box:hover{
  background: skyblue;
}

.todo-box__list{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  padding-top: 10px;
}



